@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #e9ecef;
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
}